*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

h3,h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
  font-family: sans-serif;
}

@media screen and (min-width: 800px) {
  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }
}

section {
  padding: 6rem 0;
}

.section-center {
  width: 90vw;
  margin: 3.5rem auto;
  max-width: 1170px;
  box-shadow: 0px 0px 6px 0px black;
  border-radius: 10px;
}

.gift-img {
  margin-bottom: 2rem;
  margin-left: 1rem;
  background-color: blue;
  margin-right: 1rem;
  border-radius: 20px;
}

.gift-img img {
  border-radius: 20px;
  opacity: 0.5;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 0.2rem black);
}

.section-center:hover .gift-img img {
  opacity: 1;
}

.gift-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gift-info h3 {
  text-transform: uppercase;
  color: hsl(205, 72%, 37%);
}

.gift-info p {
  color: hsl(209, 23%, 60%);
}

.date {
  color: hsl(210, 22%, 49%);
  font-size: 0.85rem;
}

@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 3rem;
    width: 95vw;
  }

  .gift-img {
    margin-bottom: 0;
  }
}

@media (max-width: 992px) {
  .section-center {
    margin: 2rem 0;
    padding: 3rem 0;
  }
}

.giveaway {
  font-family: serif;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.1rem;
}

.gift-info p {
  margin: 1rem;
  text-align: justify;
}

.deadline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deadline-format {
  background: hsl(209, 61%, 16%) ;
  color: #fff;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 5.5rem;
  height: 5rem;
  border-radius: 10px;
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 500px) {
  .deadline {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 0.5rem;
  }

  .section-center {
    margin: 2rem 0;
    padding: 3rem 0;
  }
}

.deadline-format span {
  display: block;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: yellow;
}

.deadline h4:not(.expired) {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}
